.open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: black;
}

nav .logo {
    height: 40px;
    width: auto;
    margin-left: 40px;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ccc;
}

nav button {
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 24px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-right: 20px;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #333;
    transform: scale(1.05);
}

nav {
    background-color: #2d2d2d;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
    border-radius: 400px;
}

.hero {
    background-image: url('https://raw.githubusercontent.com/ProgrammingHero1/B13-A01-Knowledge-Vault/refs/heads/main/assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-top: 20px;
    border-radius: 20px;
}



.hero-content {
    position: relative;
    z-index: 1;
    color: white;
    max-width: 700px;
    padding: 50px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero .highlight {
    color: #22c55e;
}

.badge {
    background: white;
    color: #333;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 20px;
}

.hero p {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
}

.hero-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 30px;
}

.btn-primary {
    background: #22c55e;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

.btn-primary:hover {
    background: #1ea34d;
    transform: scale(1.05);
}

.btn-secondary {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.btn-secondary:hover {
    background: rgba(255, 255, 255, 0.1);
}


.features {
    background-color: black;
    padding: 60px 20px;
    text-align: center;
}

.features-header {
    max-width: 600px;
    margin: 0 auto;
}

.features-header h2 {
    font-size: 36px;
    color: white;
    margin-bottom: 15px;
}

.features-header p {
    color: white;
    font-size: 16px;
}

.features-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;


    .feature-card {
        background: #2d2d2d;
        padding: 30px 20px;
        border-radius: 12px;
        width: 250px;
        text-align: center;
    }

    .feature-icon {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .feature-card h3 {
        font-size: 18px;
        color: #dbdbdb;
        margin-bottom: 10px;
    }

    .feature-card p {
        color: #dbdbdb;
        font-size: 14px;
        line-height: 1.5;

    }
}


.solution {
    background-color: black;
    padding: 80px 20px;
}

.solution-container {
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
}

.solution-image {
    flex: 1;
}

.solution-image img {
    max-width: 100%;
}

.solution-content {
    flex: 1;
}

.solution-label {
    color: #22c55e;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
}

.solution-content h2 {
    font-size: 40px;
    color: white;
    margin: 15px 0;
}

.solution-content p {
    color: white;
    line-height: 1.7;
    margin-bottom: 25px;
}

.solution-features {
    list-style: none;
    padding: 0;
}

.solution-features li {
    color: white;
    padding: 8px 0;
    font-size: 15px;
}

/* CTA Section */
.cta {
    background-color: #000000;
    /* padding: 5px 5px; */
    text-align: center;
}

.cta-content {
    max-width: 700px;
    margin: 0 auto;
    background: #5a5757;
    padding: 20px 300px;
    border-radius: 20px;
}

.cta h2 {
    font-size: 36px;
    color: #bdbdbd;
    margin-bottom: 15px;
}

.cta p {
    color: #bdbdbd;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 25px;
}

.cta-button {
    background: #22c55e;
    color: white;
    border: none;
    padding: 14px 28px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

}

.cta-button:hover {
    background: #1ea34d;
    transform: scale(1.05);
}

.cta-note {
    display: block;
    margin-top: 15px;
    color: #22c55e;
    font-size: 14px;
}


.footer {
    background-color: #2d2d2d;
    padding: 40px 20px 20px;
    color: white;
    margin-top: 20px;
    border-radius: 20px;
}

.footer-content {
    max-width: 1100px;
    margin: 0 auto;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.footer-logo img {
    height: 40px;
}


.footer-social h4 {
    margin-bottom: 10px;
    font-size: 14px;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    width: 32px;
    height: 32px;
    border: 1px solid #444;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.social-icons a:hover {
    background: #5e4d4d;
}

.footer hr {

    border-top: 1px solid whitesmoke;

}

.copyright {
    text-align: center;
    color: #e7e7e7;
    font-size: 14px;
}