.open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.open-sans-300 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

nav .logo {
    height: 40px;
    width: auto;
}

.nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-links a:hover {
    color: #ccc;
}

nav button {
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    padding: 10px 24px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
}

nav button:hover {
    background-color: #333;
    transform: scale(1.05);
}

nav {
    background-color: grey;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}